{% if section.blocks.size > 0 %}
  <div class="page-width">
    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2>{{ section.settings.title | escape }}</h2>
      </div>
    {% endif %}

    <div class="accordion-container">
      {% for block in section.blocks %}
        <div class="ac">
          <h2 class="ac-header">
            <button class="ac-trigger">{{ block.settings.question | escape }}</button>
          </h2>
          <div class="ac-panel">
            <p class="ac-text">{{ block.settings.answer | escape }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
{% endif %}


{% schema %}
{
  "name": "FAQs",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Frequently Asked Questions"
    }
  ],
  "blocks": [
    {
      "type": "faq",
      "name": "FAQ",
      "settings": [
        {
          "type": "textarea",
          "id": "question",
          "label": "Question"
        },
        {
          "type": "textarea",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQs",
      "category": "Text",
      "blocks": [
        {
          "type": "faq"
        }
      ]
    }
  ]
}
{% endschema %}
